
<div class =all-conteiner>
	<div class= header>
		<h1>
			<%= image_tag 'logo.png ' %>
                </h1>


	<div class= top-slider>
         	<ul class= img>
		<%= image_tag 'image.jpg ' %>
		</ul>

	<div class = second-conteiner>
			<li><a href="#"><b>about</b></a></li>
                        <li><a href="#"><b>service</b></a></li>
                        <li><a href="#"><b>contact</b></a></li>


	<div class =footer-conteiner >




    </div>
   </div>
  </div>
 </div>
</div>
